*{
    margin:0;
    padding: 0;
}
.mainCard{
    background-color:#d5e1ef;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    align-items: center;
}
.centerCard{
    padding: 1% 1% ;
    display: flex;
    border-radius: 5%;
    flex-direction: column;
    background-color:white;
    width: 19%;
    height: auto;
}
.centerCard img{
    width:99%;
    border-radius: 5%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
.centerCard p{
    font-family: 'Outfit',monospace;
    text-align: center;
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
}
span{
    display: block;
    font-weight: 600;
    color: black;
    font-size: larger;
    margin-bottom: 4%;
}

